@charset "utf-8";

@import 'bootstrap';

.spacing {
  margin-bottom: 1em;
}

.time, .minor {
  color: #777;
}

.large {
  font-size: 24px !important;
}

.global-container {
  margin-top: 50px;
  padding-top: 20px;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}
